*.bin
*.bmp
*.d
*.db
*.deps
*.diagsession
*.dll
*.enc
*.exe
*.exp
*.html
*.idb
*.ilk
*.iobj
*.ipdb
*.ipynb
*.lastcodeanalysissucceeded
*.log
*.o
*.obj
*.opendb
*.pdb
*.pdf
*.pyc
*.pyd
*.res
*.sdf
*.tlog
*.vspx
*.xml
*.zip
.vs/
.vscode/
lib/x64/
work/*.txt
work/openblas_haswell_lib/
work/save/
work/*.py
x64/
*ubyte
will-python/will.py
will-python/will_wrap.cxx
.vs/
build/
*.so
*.gz
will-windows/x64/
will/x64/
will-cuda/x64/
will-mnist/x64/
will-image/x64/
will-predict/x64/
will-python/x64/
will-test/x64/
*.onnx
*.pb
*.json
*.aps
*.bak
cccc-hip/Debug/
cccc-hip/Release/
*.patch
*.bat
