*.bin
*.bmp
*.d
*.db
*.deps
*.diagsession
*.dll
*.enc
*.exe
*.exp
*.html
*.idb
*.ilk
*.iobj
*.ipdb
*.ipynb
*.lastcodeanalysissucceeded
*.log
*.o
*.obj
*.opendb
*.pdb
*.pdf
*.pyc
*.pyd
*.res
*.sdf
*.tlog
*.vspx
*.xml
*.zip
.vs/
.vscode/
lib/x64/
work/*.txt
work/openblas_haswell_lib/
work/save/
work/*.py
x64/
*ubyte
woco-python/woco.py
woco-python/woco_wrap.cxx
.vs/
build/
*.so
*.gz
woco-windows/x64/
woco/x64/
woco-cuda/x64/
woco-mnist/x64/
woco-image/x64/
woco-predict/x64/
woco-python/x64/
woco-test/x64/
*.vsp
*.pb.*
*.onnx
work/cifar10/
